@model CustomIdentityApp.ViewModels.ChangeRoleViewModel

@{
    ViewData["Title"] = $"Edit role for user {Model.UserEmail}";
}

<h2>Edit role for user @Model.UserEmail</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" name="userId" value="@Model.UserId"/>
            <div class="form-group">
                @foreach (var role in Model.AllRoles)
                {
                    <input type="checkbox" name="roles" value="@role.Name"
                        @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name
                    <br/>                                                                           
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

